.chat-header.clearfix
  .chat-about
    .chat-with Chat with {{currentThread.name}}
    .chat-num-messages already with {{messages.length}} messages
  i.fa.fa-star

.chat-history#chat-list
  ul
    li(*ngFor="let message of messages")
      .message-data.align-right
        span.message-data-time {{message.created_at  | date:'short' }}
        br
        span.message-data-name {{message.name}}
        i.fa.fa-circle.me
      .message([ngClass]="getMessageClass(message)")
        | {{message.message}}
