.sidebar
  ul.sidebar-list
    li.logo-item
      img(src="assets/images/logo.png")
    li.nav-item.active
      img.nav-img.food-img(src="assets/images/noun_Food_1213073@2x.png")
    li.nav-item
      img.nav-img(src="assets/images/noun_Restaurant_1715997@2x.png")
    li.nav-item
      img.nav-img(src="assets/images/noun_User_3202851-2@2x.png")
    li.nav-footer.nav-item
      img.nav-img(src="assets/images/noun_Log Out_2784633@2x.png")

.main-content
  router-outlet