//- div = block
//- span = inline
//- list

//- div Rav
//- div Hardey
//- br
//- span Hardey
//- span Laurice

//- ul
//-   li Dashboard
//-   li Todo
//-   li Logout

//- table
//-   thead
//-     tr
//-       th Name
//-       th Contact No
//-   tbody
//-     tr
//-       td RD
//-       td 091745

//- input(type="text")

.header-container
  .logo

  .header-widget
    .header-search
      input.search-input(type="text", placeholder="Search")
      i.fa.fa-search
    ul.header-notifications
      li.notification-item
        i.fa.fa-bell
      li.notification-item
        i.fa.fa-globe
        span.notification-count 1
      li.notification-item
        i.fa.fa-cog

.sidebar-container
  ul.sidebar-links
    li.user-details.sidebar-item
      img.user-img(src="/assets/pic.png")
      .user-info
        .user-name Hardey
        .user-title Admin

    li.nav-section.sidebar-item
      span Navigation
    li.sidebar-item
      a.sidebar-link(href="#") 
        i.fa.fa-home
        span Dashboard
    li.sidebar-item
      a.sidebar-link(href="#") 
        i.fa.fa-user
        span Profile
    li.sidebar-item.active
      a.sidebar-link(href="#") 
        i.fa.fa-bookmark
        span Todo

.content-container
  .title
    span Task List
  
  .task-panel
    .action-panel
      .row
        .col
          a.add-btn(href="#") Add Task

    //- .row
    //-   .col-md-3
    //-     .menu

    //-   .col-md-9
    //-     .row
    //-       .col
    //-         .action
        
    //-     .row
    //-       .col
    //-         .card
    //-       .col
    //-         .card
    //-       .col
    //-         .card
    //-       .col
    //-         .card

    .row
      .col-md
        .task-board
          .task-header Todo

          .task
            .task-title Study CSS
            .task-owner Hardey
            .date 1/20/2020
            .action-icon
              a.action-link((click)="toggleAction()")
                i.fa.fa-ellipsis-v
            
            .action-sheet(*ngIf="showAction")
              ul.action-list
                li.action-item
                  a.action-link(href="#") Edit
                li.action-item
                  a.action-link(href="#") Move
                li.action-item
                  a.action-link(href="#") Delete

          .task
            .task-title Study CSS
            .task-owner Hardey
            .date 1/20/2020


      .col-md
        .task-board
          .task-header In Progress

          .task
            .task-title Study CSS
            .task-owner Hardey
            .date 1/20/2020

          .task
            .task-title Study CSS
            .task-owner Hardey
            .date 1/20/2020

      .col-md
        .task-board
          .task-header Finished

          .task
            .task-title Study CSS
            .task-owner Hardey
            .date 1/20/2020

          .task
            .task-title Study CSS
            .task-owner Hardey
            .date 1/20/2020

    //- img.user-img(src="/assets/pic.png")
    
    //- a.add-btn(href="#") 
    //-   i.fa.fa-plus
    //-   span Add Task

    //- .sub-task-panel
    //-   .sub-title((click)="toggleTodo()")
    //-     i.fa.fa-caret-down(*ngIf="showTodo")
    //-     i.fa.fa-caret-up(*ngIf="!showTodo")
    //-     span Today

    //-   table.task-table(*ngIf="showTodo")
    //-     tbody
    //-       tr(*ngFor="let todo of todos")
    //-         td.task-name {{todo.name}}
    //-         td
    //-           img.user-img([src]="todo.img")
    //-         td {{todo.date}}
              

